@import "dracula.css";

/* rehype-code-title */
.prose .rehype-code-title {
  font-family: PT Mono, Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  color: var(--foreground);
  background-color: #22222c;
  border-color: var(--background-40);
  @apply rounded-t-lg border border-b-0 px-5 py-3 text-sm font-bold;
}

.prose .rehype-code-title::selection {
  background-color: var(--selection);
}

.prose .dark .rehype-code-title {
  background-color: #1a1b1f;
}

.prose .rehype-code-title + pre {
  @apply mt-0 rounded-t-none;
}

/* rehype-prism-plus */
.prose .code-line.inserted,
.prose .code-line.deleted,
.prose .code-line.highlight-line {
  @apply -mx-4 block px-4;
}

.prose .code-line.highlight-line {
  background-color: var(--selection);
  border-color: var(--pink);
  border-left-width: 4px;
}
.prose .code-line.highlight-line::selection,
.prose .code-line.highlight-line *::selection {
  background-color: var(--comment);
}

.prose .code-line.inserted {
  background-color: rgba(16, 185, 129, 0.2);
}
.prose .code-line.deleted {
  background-color: rgba(239, 68, 68, 0.2);
}

.prose .line-number::before {
  display: inline-block;
  width: 1rem;
  text-align: right;
  margin-right: 16px;
  margin-left: -8px;
  color: var(--foreground-40);
  content: attr(line);
}

.prose .highlight-line.line-number::before{
  margin-left: -12px;
}

/* Inline code */
.prose :not(pre) code {
  font-family: PT Mono, Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  @apply px-2 py-1 text-gray-800 dark:text-[var(--foreground)];
}
