@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'intellij-prism.css';
@import 'prose.css';

html,
body,
#__next {
  min-width: 100%;
  min-height: 100%;
}

* {
  /* MW touch highlight 제거 */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

::selection {
  @apply bg-neutral-400/30;
}

.dark ::selection {
  @apply bg-neutral-500/30;
}

.kbar-scrollbar > div::-webkit-scrollbar {
  background: transparent;
  width: 10px;
  height: 10px;
}
.kbar-scrollbar > div::-webkit-scrollbar-thumb {
  @apply bg-neutral-200 hover:bg-opacity-70 dark:bg-neutral-600 dark:hover:bg-opacity-70;
}
