/* rehype-autolink-headings */
.prose .anchor {
  @apply absolute -ml-10 mt-1 flex h-6 w-6 items-center justify-center opacity-0 transition-all;
  @apply rounded-md border-none no-underline ring-1 ring-gray-700/10;
  @apply hover:shadow hover:ring-gray-700/30 dark:bg-gray-700 dark:text-gray-400;
}

.prose .anchor:after {
  content: ' ';
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' aria-hidden='true'%3E%3Cpath d='M3.75 1v10M8.25 1v10M1 3.75h10M1 8.25h10' stroke='currentColor' strokeWidth='1.5' strokeLinecap='round' /%3E%3C/svg%3E");
  mask-repeat: no-repeat;
  mask-position: center;

  @apply h-4 w-4 bg-gray-700 dark:bg-gray-300;
}

.prose .anchor:hover,
.prose *:hover > .anchor {
  @apply md:opacity-100;
}

/* common markdown */
.prose img {
  @apply m-0;
}
.prose img + span {
  display: block;
  margin-top: 0.5rem;
}

/* prose frist child, not <TocTop /> */
.prose > :first-child {
  margin-top: 3rem !important;
}
.prose > .lg\:hidden + * {
  @apply lg:mt-12;
}

.prose a {
  @apply break-words border-b border-[#333333] font-normal no-underline transition-all;
  @apply text-gray-700 dark:text-gray-400;
}
.prose a:not(:has(code, strong)) {
  @apply hover:text-gray-400 dark:hover:text-gray-500;
}

.prose a:has(code, strong) {
  @apply border-opacity-90 hover:border-b-2 dark:border-yellow-300;
}
.prose a:has(code) {
  @apply pb-1;
}

.prose del {
  @apply text-gray-300 dark:text-gray-600;
}

.prose pre::-webkit-scrollbar {
  display: none;
}

.prose pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
